@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@500;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

img {
  width: 100%;
}


.lgCon {
  width: 100%;
}

.mdCon {
  width: 80%;
  margin: 0 auto;
}

.smCon {
  width: 75%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.minirow {
  display: flex;
  flex-wrap: wrap;
}

.col1 {
  flex-basis: 100%;

}

.col2 {
  flex-basis: 50%;

}

.col3 {
  flex-basis: 33%;

}

.col4 {
  flex-basis: 25%;

}

.col5 {
  flex-basis: 20%;

}

.col6 {
  flex-basis: 16%;
}

input {
  padding: 10px;
  border: 1px solid rgb(192, 192, 192);
  outline: none;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #0A7CFF;
  color: #fff;
  transition: .1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
  opacity: .8;
}

.icons {
  font-size: 30px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(180, 180, 180);
}